<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>文件上传</title>
</head>
<body>
  <h2>文件上传</h2>
  <hr>
  <!-- 注意enctype属性，文件上传的必须属性 -->
  <!-- 文件上传也是在发送http请求报文，如果不设置enctype="multipart/form-data" 则回应queryString的形式发送-->
  <form action="/portrait" method="post" enctype="multipart/form-data">
    用户名：<input type="text" name="username"><br>
    头像：<input type="file" name="portrait"><br>
    <hr>
    <input type="submit" value="上传">
  </form>
</body>
</html>